.git
.github
.gradle
.idea
.vscode

build
app/build
app/release

app/src/main/jniLibs
app/src/main/assets/server

go_client

*.apk
*.aab
*.ap_
*.dex
*.class
*.iml
*.log
*.tmp
*.bak
*.swp
*.swo
*~

local.properties
release.keystore
*.keystore
*.jks
*.key
*.pem

wdtt-data
